/.metadata/
afm_communites_with_nova/gui_unit/*.pyc
afm_communites_with_nova/build/*
afm_communites_with_nova/dist/*
afm_communites_with_nova/*.spec
afm_communites_with_nova/workflow_unit/*.pyc
afm_communites_with_nova/tools/*.pyc
afm_communites_with_nova/*/*.log